<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>signin</servlet-name>
        <servlet-class>org.doverie.docflow.signin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchcorplist</servlet-name>
        <servlet-class>org.doverie.docflow.searchcorplist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addnewuser</servlet-name>
        <servlet-class>org.doverie.docflow.addnewuser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchrealty</servlet-name>
        <servlet-class>org.doverie.docflow.searchrealty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addnewrealty</servlet-name>
        <servlet-class>org.doverie.docflow.addnewrealty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchuser</servlet-name>
        <servlet-class>org.doverie.docflow.searchuser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendmessage</servlet-name>
        <servlet-class>org.doverie.docflow.sendmessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>messageList</servlet-name>
        <servlet-class>org.doverie.docflow.messageList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchcontragent</servlet-name>
        <servlet-class>org.doverie.docflow.searchcontragent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addFizItem</servlet-name>
        <servlet-class>org.doverie.docflow.addFizItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addUrItem</servlet-name>
        <servlet-class>org.doverie.docflow.addUrItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>messageData</servlet-name>
        <servlet-class>org.doverie.docflow.messageData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getRealtyData</servlet-name>
        <servlet-class>org.doverie.docflow.getRealtyData</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>signin</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchcorplist</servlet-name>
        <url-pattern>/searchcorplist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addnewuser</servlet-name>
        <url-pattern>/addnewuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchrealty</servlet-name>
        <url-pattern>/searchrealty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addnewrealty</servlet-name>
        <url-pattern>/addnewrealty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchuser</servlet-name>
        <url-pattern>/searchuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendmessage</servlet-name>
        <url-pattern>/sendmessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>messageList</servlet-name>
        <url-pattern>/messageList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchcontragent</servlet-name>
        <url-pattern>/searchcontragent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addFizItem</servlet-name>
        <url-pattern>/addFizItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addUrItem</servlet-name>
        <url-pattern>/addUrItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>messageData</servlet-name>
        <url-pattern>/messageData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getRealtyData</servlet-name>
        <url-pattern>/getRealtyData</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
